@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" value="" name="image" id="image" />
            <input type="submit" value="Upload" />
        </form>
    </div>
</body>
</html>